.ustkisim{
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
}
.ustkisim #p1{
    width: 5.3%;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    margin-bottom: 8px;
    padding-top: 11px;
    padding-bottom: 8px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
.ustkisim #p2{
    width: 82.7%;
    background-color: white;
    color: #16A085;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    border: 3px solid rgba(0, 0, 0, 0.63);
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
.ustkisim h4{
    width: 12%;
    padding-top: 11px;
    padding-bottom: 8px;
    color: white;
    background: red;
    animation: mymove 4s infinite;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
@keyframes mymove {
    0% {background-color: red;}
    50% {background-color: black;}
    100%{background-color: red;}
}
